{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs",
    "resolveFully": true
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true,
      "decorators": true
    },
    "baseUrl": "./src",
    "paths": {
      "@/*": [
        "./*"
      ]
    },
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    },
    "target": "es2021",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false
  },
  "minify": false,
  "sourceMaps": "inline"
}